body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}
header {
    background-color: papayawhip;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
}
header figure {
    margin-left: 0;
    color: red;
}
.navbar {
    display: flex;
    list-style: none;
    width: 200px;
    padding: 0;
}
.navbar li {
    margin: 0 auto;
}
.navbar li a {
    text-decoration: none;
    color: hotpink;
}